body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: aqua;
  box-sizing: border-box;
  color: #222;
}

div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: blue;
}

section {
  display: flex;
  margin: 10px auto;
  width: 75%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: blueviolet;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px dotted black;
  margin-left: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  outline: none;
}

.wrapper {
  max-width: 680px;
  margin: 0 auto;
}

.temp-wrapper {
  height: 100%;
  width: 50%;
  background-color: red;
}

#temp-wrapper {
  text-align: center;
}

.graph-wrapper {
  height: 100%;
  width: 50%;
  background-color: green;
}

#graph-wrapper {
  text-align: center;
  color: white;
}

.temp {
  font-size: 64px;
}

.temp-symbol {
  top: 13px;
  margin-left: 4px;
}

.temp-date {
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.5);
}